{%extends "layout.html"%}
{%block content%}
<div class = "about">
	<h1 class = "sub1">About</h1>

	<p>Hi! I'm Malhaar. I was born in 2002, in New Delhi, the capital city of India.</p>

	<p>I have varying interests, including playing the guitar, coding, web designing, problem solving, volunteer work, and gaming. I am also passionate about math and physics.</p>

	<p>I can speak 3 languages- English, Hindi and French. I have a B1 level diploma in the french language, and was involved in the french exchange 2019 which was truly an unforgettable, once-in-a-life-time experience.</p>

	<p>I learnt the guitar for 2 years, and have several figerstyle guitar covers up on my youtube channel.</p>

	<p>I have also actively been involved in social service:
	<ul>
		<li>Dan Utsav</li>
		<li>CanKids internship</li>
		<li>CanKids Volunteer</li>
		<li>Taught the underprivileged</li>
		<li>Raised INR 26,601 in support of the <a href = "https://www.fueladream.com/home/campaign/16638" style = "color: white">mid-day meal program</a></li>
	</ul>
	</p>

	<p>I am also an active member of the student council, and hold the post of the house captain. I have also been actively involved in peer education.</p>

	<p>I have been a part of ATL where I, along with my teammates, developed an automatic dipper which can potentially prevent a lot of road accidents.</p> 

	<p>I am fluent in a number of programming languages including HTML5, CSS3, JavaScript and Python.
	Developed the following apps using Python:
	<ul>
		<li>Dictionary</li>
		<li>Website Blocker</li>
		<li>Flask Website</li>
	</ul>
	</p>
</div>
{%endblock%}